
<ion-content padding>
  <div margin padding>
    <img src="assets/imgs/logo.png"/>
    <!-- <h1 color="primary">เข้าสู่ระบบ</h1> -->
  </div>

  <form (ngSubmit)="submitLogin()">
    <ion-list inset>
      <ion-item class="bg-light">
        <!-- <ion-label>ชื่อผู้ใช้</ion-label> -->
        <ion-input type="text" [(ngModel)]="user.username" name="username" placeholder="เบอร์โทร"></ion-input>
      </ion-item>

      <ion-item class="bg-light">
        <!-- <ion-label>รหัสผ่าน</ion-label> -->
        <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="รหัสผ่าน"></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button round block type="submit">เข้าสู่ระบบ</button>
    </div>
  </form>
</ion-content>
