<ion-tabs  color="primary">
  <!-- <ion-tab [root]="tab1Root" tabTitle="ที่ต้องส่ง" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="กำลังส่ง" ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="ส่งแล้ว" ></ion-tab> -->
</ion-tabs>
