<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  no-border>

  <ion-navbar>
    <ion-title>รายการสินค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of order.items">
      {{item.coupon_code}}
      <ion-note item-end>
      {{item.amount}} รายการ
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer  no-border padding *ngIf="order.delivery.status == 'pending'">
  <button ion-button icon-start block (click)="startDelivery(order)">
    <ion-icon name="navigate-outline"  ios="ios-navigate-outline" md="ios-navigate-outline"></ion-icon>
    เริ่มส่ง
  </button>
</ion-footer>