<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>การตั้งค่า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">ข้อมูลผู้ใช้</ion-item-divider>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ profile.avatar }}">
        </ion-avatar>
        <h2>{{ profile.name }}</h2>
        <p>{{ profile.phone }}</p>
      </ion-item>
      <ion-item text-center>
        <button ion-button color="danger" clear (click)="alertLogout()">ออกจากระบบ</button>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">ข้อมูลแอป</ion-item-divider>
      <ion-item>
        เวอร์ชั่น
        <ion-note item-end>
          v{{ version }}
        </ion-note>
      </ion-item>
      <button ion-item (click)="alertLocation()">
        พิกัดตำแหน่ง
      </button> 

    </ion-item-group>
  </ion-list>
</ion-content>
