// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
    font-family: Prompt;
    src: url('../assets/fonts/prompt.woff2');
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title, ion-card-title, ion-segment-button, ion-card-header, ion-item-divider{
    font-family: Roboto, Prompt !important
}

.bg-light{
    background-color: #f5f5f5;
}

.bg-happycard{
    background-color: #00aca0;
}