<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar no-border-bottom color="primary">
    <ion-title color="primary">
      ออเดอร์
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openProfilePage()">
        <ion-icon name="settings" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top color="primary">
    <ion-segment [(ngModel)]="status" color="white">
      <ion-segment-button value="pending" (click)="getOrders('pending')">
        ที่ต้องส่ง 
        <!-- <ion-badge color="danger">{{orders.length}}</ion-badge> -->
      </ion-segment-button>
      <ion-segment-button value="started" (click)="getOrders('started')">
        กำลังส่ง 
        <!-- <ion-badge color="danger">10</ion-badge> -->
      </ion-segment-button>
      <ion-segment-button value="delivered" (click)="getOrders('delivered')">
        ส่งแล้ว
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="bg-light">

  <!-- Order lists -->
  <ion-card *ngFor="let order of orders">    
    <ion-item>
      <h2>{{order.customer.name}} <ion-badge color="danger" *ngIf="order.delivery.type == 'express'">ด่วน</ion-badge></h2>
      <p>
        <!-- <span><ion-icon name="cube" item-start large ></ion-icon>{{order.items.length}} รายการ<br></span> -->
        <span *ngIf="order.delivery.method == 'messenger'"><ion-icon name="pin" item-start large ></ion-icon> {{order.customer.address}}<br></span>
        <span *ngIf="order.delivery.method == 'ems'"><ion-icon name="pin" item-start large ></ion-icon> ไปรษณีย์ (ems)<br></span>
        <span [hidden]="order.delivery.due_date === null"><ion-icon name="time" item-start large ></ion-icon> {{order.delivery.due_date}}<br></span>
      </p>
    </ion-item>
  
    <ion-item>
      <span item-start>{{order.delivery.distance.text}}</span>
      <button ion-button icon-start padding item-end (click)="orderDetail(order)" *ngIf="order.delivery.status == 'pending'">
        <ion-icon name="cube"></ion-icon>
        เตรียมส่ง
      </button>
      <button ion-button icon-start padding item-end (click)="openDeliveryPage(order)" *ngIf="order.delivery.status == 'started'">
        <ion-icon name="pin"></ion-icon>
        ถึงแล้ว
      </button>
      <button ion-button icon-start clear item-end (click)="openDeliveryPage(order)" *ngIf="order.delivery.status == 'delivered'">
        รายละเอียด
      </button>
    </ion-item>
  </ion-card>
  
</ion-content>
  