<!--
  Generated template for the DeliveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{order.invoice_id}} 
      <span *ngIf="orderStatus=='pending'">(เตรียมส่ง)</span>
      <span *ngIf="orderStatus=='started'">(กำลังส่ง)</span>
      <span *ngIf="orderStatus=='delivered'">(ส่งแล้ว)</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bg-light">
  <ul class="timeline">
    <li>
      <div class="timeline-thumb bg-happycard timeline-icon">
        <ion-icon name="ios-checkmark"></ion-icon>
      </div>
      <div class="timeline-item">
        <h4>รับออเดอร์</h4>
        <div class="timeline-stats">
          {{order.delivery.created_at}}
        </div>
        <p></p>
        <ion-card no-margin>
          <button ion-item (click)="orderItems(order)">
            <h3>{{order.invoice_id}}</h3>
            <p *ngIf="order.items.length > 0">
              <ion-icon name="cube"></ion-icon> {{order.items.length}} รายการ
            </p>
          </button>
        </ion-card>
      </div>
    </li>
    <li *ngIf="orderStatus == 'started' || orderStatus == 'delivered'">
      <div class="timeline-thumb bg-happycard timeline-icon">
        <ion-icon name="ios-checkmark"></ion-icon>
      </div>
      <div class="timeline-item">
        <h4>เริ่มส่ง</h4>
        <div class="timeline-stats">
          {{order.delivery.started_at}}
        </div>
        <p></p>
        <ion-card no-margin *ngIf="order.delivery.method == 'messenger'">
          <ion-card-header>
            {{order.customer.name}}
          </ion-card-header>
          <ion-card-content>
            {{order.customer.address}}
          </ion-card-content>
          <ion-item>
            <span item-start>{{order.delivery.distance.text}}</span>
            <a ion-button icon-start clear item-end href="https://www.google.com/maps/dir/?api=1&destination={{order.customer.latitude}},{{order.customer.longitude}}" data-rel="external">
              <ion-icon name="navigate"></ion-icon>
              Google Map
            </a>
          </ion-item>
        </ion-card>

        <ion-card no-margin *ngIf="order.delivery.method == 'ems'">
          <ion-item>
            <p>
              ไปรษณีย์ (EMS)
            </p>
          </ion-item>
        </ion-card>

      </div>
    </li>
    <li *ngIf="orderStatus == 'delivered'">
      <div class="timeline-thumb bg-happycard timeline-icon">
        <ion-icon name="ios-checkmark"></ion-icon>
      </div>
      <div class="timeline-item">
        <h4>ส่งแล้ว</h4>
        <div class="timeline-stats">
          {{order.delivery.delivered_at}}
        </div>
        <p></p>
        <ion-card no-margin>
          <ion-card-header>
            หลักฐานการส่ง
          </ion-card-header>
          <ion-item [hidden]="order.delivery.tracking_number == null">
            <ion-icon name="barcode" item-start large></ion-icon>
            <!-- <h2>บาร์โค้ด</h2> -->
            <p>{{order.delivery.tracking_number}}</p>
          </ion-item>
          <img src="{{order.delivery.image_url}}" alt="" width="100%" />
        </ion-card>
      </div>
    </li>
    <li *ngIf="orderStatus == 'approved'">
      <div class="timeline-thumb bg-happycard timeline-icon">
        <ion-icon name="ios-checkmark"></ion-icon>
      </div>
      <div class="timeline-item">
        <h4>อนุมัติแล้ว</h4>
        <div class="timeline-stats">
          {{order.delivery.approved_at}}
        </div>
      </div>
    </li>
  </ul>

  <ion-card *ngIf="orderStatus == 'pending'">
    <ion-card-header>
      {{order.customer.name}}
    </ion-card-header>
    <ion-card-content>
      {{order.customer.address}}
    </ion-card-content>
    <ion-item>
      <span item-start>{{order.delivery.distance.text}}</span>
      <a ion-button icon-start clear item-end href="https://www.google.com/maps/dir/?api=1&destination={{order.customer.latitude}},{{order.customer.longitude}}" data-rel="external">
        <ion-icon name="navigate"></ion-icon>
        Google Map
      </a>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="orderStatus == 'started'">
    <ion-card-header>
      หลักฐานการส่ง
    </ion-card-header>
    <ion-list>
      <button ion-item large color="light" (click)="startScan()">
          <ion-icon name="barcode"></ion-icon> สแกนบาร์โค้ด
      </button>
      <ion-item *ngIf="barcodeText != ''">
        <p>{{barcodeText}}</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <button ion-item large color="light" (click)="getImage()">
        <ion-icon name="camera"></ion-icon> ถ่ายรูปหลักฐาน
      </button>
      <img src="{{imageURI}}" alt="" width="100%" [hidden]="imageURI === null"/>
      <img src="{{order.delivery.image}}" *ngIf="imageFileName" alt="" width="100%" [hidden]="order.delivery.image === null"/>
    </ion-list>
  </ion-card>
</ion-content>


<ion-footer  no-border padding>
  <button ion-button icon-start block  (click)="startDelivery(order.id)"  *ngIf="orderStatus=='pending'">
    <ion-icon name="navigate-outline"></ion-icon>
    เริ่มส่ง
  </button>

  <button ion-button icon-start block  (click)="finishDelivery(order.id)"  *ngIf="orderStatus=='started'" [disabled]="imageURI === null">
    <ion-icon name="checkmark"></ion-icon>
    ยืนยันการส่ง
  </button>

  <button ion-button icon-start block navPop color="light" *ngIf="orderStatus=='delivered'" >
    <ion-icon name="home"></ion-icon>
    กลับหน้าหลัก
  </button>
</ion-footer>