page-delivery {
    /*Optional*/
  .bar-stable {
    background-color: #d9d9d9 !important;
  }
  .tabs{
    background-color: #d9d9d9 !important;
  }
  .icon-size-lg {
    font-size: 40px;
  }
  
  /*Timeline*/
  
  .pos-absolute-right {
      position: absolute;
      right: 8px;
  }
  
  .timeline {
      position: relative;
      margin: 15px 0 0 0;
  }
  
  .timeline:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3px;
      background: #CBD0D3;
      left: 40px;
      margin-left: -10px;
      z-index: 1;
  }
  
  .timeline .timeline-thumb {
      border-radius: 500px;
      width: 40px;
      z-index: 2;
      position: absolute;
      left: 10px
  }
  
  .timeline .timeline-thumb.timeline-icon {
      height: 40px;
      text-align: center;
      color: white;
      border: 3px solid #CBD0D3;
  }
  
  .timeline .timeline-thumb.timeline-icon ion-icon {
      font-size: 32px;
      display: block;
  }
  
  .timeline .timeline-item {
      margin-left: 32px;
    //   border-bottom: 1px solid #ccc;
      padding-bottom: 8px;
  }
  
  .timeline .timeline-stats {
      position: relative;
      font-size: 12px;
      color: #7F8C8D;
  }
  
  
  .divider-title {
      background: #e4e4e4;
      padding: 5px 15px;
  }
  
  /* === Color Themes === */
  .text-muted {
      color: #6d6d72 !important;
  }
  
  .color-gray {
      color: #8e8e93 !important;
  }
  
  .color-red {
      color: #ff3b30 !important;
  }
  
  .bg-color-red {
      background-color: #ff3b30 !important;
  }
  
  .color-white {
      color: #ffffff !important;
  }
  
  .color-yellow {
      color: #ffcc00 !important;
  }
  
  .bg-color-yellow {
      background-color: #ffcc00 !important;
  }
  
  .color-green {
      color: #4cd964 !important;
  }
  
  .color-orange {
      color: #ff9500 !important;
  }
  
  .bg-color-orange {
      background-color: #ff9500 !important;
  }
  
  .color-blue {
      color: #007aff !important;
  }
  
  .bg-color-blue {
      background-color: #007aff !important;
  }
  
  .color-lightblue {
      color: #5ac8fa !important;
  }
  
  .bg-color-lightblue {
      background-color: #5ac8fa !important;
  }
  
  .color-bluegray {
      color: #607d8b !important;
  }
  
  .bg-color-bluegray {
      background-color: #607d8b !important;
  }
  
  .color-night {
      color: #2B1B17 !important;
  }
  
  .color-black {
      color: black !important;
  }
  
  .bg-color-white {
      background-color: #ffffff;
  }
  
  .bg-color-green {
      background-color: #4cd964 !important;
  }
}
